body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #dbeafe, #f0f9ff);
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
  background: #4a90e2;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 10px;
  background: #eee;
}

main {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #357abd;
  transform: scale(1.05);
}

img {
  width: 100%;
  border-radius: 10px;
}
